/* Fonts START */
@font-face {
    font-family: "Comfortaa";
    src: url(fonts/Comfortaa-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Comfortaa";
    src: url(fonts/Comfortaa-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Comfortaa";
    src: url(fonts/Comfortaa-Medium.ttf);
    font-weight: medium;
}

@font-face {
    font-family: "Comfortaa";
    src: url(fonts/Comfortaa-light.ttf);
    font-weight: light;
}

@font-face {
    font-family: "Almarai";
    src: url(fonts/Almarai-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Almarai";
    src: url(fonts/Almarai-ExtraBold.ttf);
    font-weight: bolder;
}

@font-face {
    font-family: "Almarai";
    src: url(fonts/Almarai-Light.ttf);
    font-weight: light;
}

@font-face {
    font-family: "Almarai";
    src: url(fonts/Almarai-Regular.ttf);
    font-weight: normal;
}

:lang(ar) {
    font-family: 'Almarai', sans-serif;
}

:lang(en) {
    font-family: 'Comfortaa', sans-serif;
}

/* Fonts END */

/* General START */
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    background-color: #16161a;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: 15px;
    line-height: 1.5;
}

*,
*:before,
*:after {
    box-sizing: inherit
}

body {
    margin: 0;
    font-size: 15px;
    line-height: 1.5
}

header,
nav {
    display: block;
}

.image {
    max-width: 100%;
    height: auto
}

#main {
    transition: margin-left .4s;
}

.center {
    text-align: center !important;
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
}

footer {
    display: block;
    text-align: center;
    font-size: 12px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    margin-left: auto;
    margin-right: auto;
    color: #4d4d5d;
}

/* General END */

/* Home START */
.intro-container {
    display: inline-grid;
    grid-template-columns: 50% auto;
    height: 90vh;
    align-items: center;
    padding-top: 5%;
}

#intro-right img {
    float: left;
    width: 70%;
}

#intro-left {
    padding-left: 15%;
}

#intro-left span {
    font-size: 68px;
    font-weight: bolder;
    color: #94a1b2;
    line-height: 1.1;

}

#tagline {
    color: #72757e;
    padding-left: 16%;
    float: left;
    margin-top: 0px;
}

#taglineAr {
    color: #72757e;
    margin-top: 0px;
    margin-left: 4%;
}

#nameAr {
    margin-right: 1%;
}

#mobTitle {
    color: #94a1b2;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 0px;
}

#mobSubtitle {
    color: #72757e;
    font-size: xx-small;
}

#homeSpace {
    margin-top: 3%;
}

.title {
    color: #94a1b2;
    font-size: 50px;
    font-weight: bold;
}

#mobSubtitle #socials {
    width: 65%;
    margin-left: 18%;
    margin-top: -8px;
}

#socials {
    margin-left: 18%;
    width: 60%;
}

#socialsAr {
    margin-left: 26%;
    width: 52%;
}

#contactLink {
    float: left;
}

#contactEm {
    font-size: 1.1em;
    float: right;
}

/* Home END */

/* Hide START */
@media (max-width:600px) {
    .hide-on-small {
        display: none !important;
    }
}

@media (min-width:993px) {
    .hide-on-large {
        display: none !important;
    }
}

@media (max-width:992px) and (min-width:601px) {
    .hide-on-medium {
        display: none !important
    }
}

/* Hide END */

/* Padding START */
.padding16 {
    padding: 0.01em 16px;
}

.padding24 {
    padding: 12px 24px !important;
}

.padding32 {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

.padding64 {
    padding-top: 64px !important;
    padding-bottom: 64px !important;
}

/* Padding END */


/* whoami START */
#whoAmi {
    display: flex;
    color: #757575 !important;

}

#whoamiR {
    align-self: center;
}

#whoamiL {
    width: 140%;
    align-self: center;
}

#whoamiL p {
    width: 90%;
    margin-top: 8%;
    text-align: justify;

}

@media (max-width: 800px) {
    #whoAmi {
        flex-direction: column;
    }

    #whoamiL {
        width: 100%;
    }

    #whoamiL p {
        width: 100%;
        margin-top: 1%;
    }
}

#delightful {
    font-weight: bold;
    display: block;
    text-align: center;
}

/* whoami END */

/* Creations START */
.article-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.article-card {
    margin: 6px;
    padding: 20px;
    width: 250px;
    min-height: 250px;
    display: grid;
    grid-template-rows: 5px 50px 1fr 50px;
    border-radius: 10px;
    transition: all 0.2s;
    background-color: rgb(32, 32, 38);

}

.locked {
    margin: 6px;
    padding: 20px;
    width: 250px;
    min-height: 280px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;

}

.article-card:hover {
    transform: scale(1.05);
}

.card-link,
.card-icon {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
}

.card-icon {
    grid-row: 1/3;
    font-size: 30px;
}

.card-title {
    grid-row: 3/4;
    font-weight: 400;
    color: #94a1b2;
    font-size: medium;
}

.article-summary {
    line-height: 1.2;
    color: #72757e;
    font-size: small;
    text-align: left;
}

.card-read {
    grid-row: 4/5;
    align-self: center;
}

.card-read i {
    all: unset;
}

@media (max-width: 1600px) {
    .article-cards {
        justify-content: center;
    }
}

.lock-icon {
    fill: #16161a;
    height: 230px;
    margin-left: auto;
    margin-right: auto;
}

/* Creations END */

/* Nav START */
nav a {
    font-weight: bold;
    line-height: 1.4;
    font-size: small;
}

#myNavbar {
    top: 5%;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    padding-top: 10%;
}

.navBar {
    height: 85%;
    width: 150px;
    right: 0;
    top: 11%;
    position: fixed !important;
    z-index: 1;
    overflow: auto;
}

.navbarBlock .navbarItem {
    width: 100%;
    display: block;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
}

/* Nav END */

/* Links START */
a,
a:link,
a:visited {
    color: #7f5af0;
    text-decoration: none;
}

a:hover {
    color: #94a1b2;

}

/* Links END */

/* Post START */
#post {
    color: #72757e;
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;

}

#postContent {
    width: 90%;
    margin-left: 20px;
    line-height: 1.8;
    word-wrap: break-word;
    text-align: left;
    font-weight: lighter;
}

@media (max-width:600px) {
    #post-title {
        font-size: x-large;
        text-align: left;
    }

    #post {
        margin-left: -10px;
    }

}

/* Post END */

/* Popup START */

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #16161a;
    border-radius: 20px;
    width: 50%;
    height: 80%;
    position: relative;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.popup .content {
    max-height: 90%;
    overflow: auto;
}

@media screen and (max-width: 700px) {

    .popup {
        width: 80%;
    }
}


.tabs {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    padding: 20px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    min-width: 240px;
}

.tabs input[name="tab-control"] {
    display: none;
}

.tabs .content section h2,
.tabs ul li label {
    font-weight: bold;
    font-size: 18px;
    color: #7f5af0;
}


.tabs ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.tabs ul li {
    box-sizing: border-box;
    flex: 1;
    width: 25%;
    padding: 0 10px;
    text-align: center;
}

.tabs ul li label {
    transition: all 0.3s ease-in-out;
    color: #929daf;
    padding: 5px auto;
    overflow: hidden;
    display: block;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    -webkit-touch-callout: none;

}

.tabs ul li label br {
    display: none;

}

.tabs ul li label svg {
    fill: #929daf;
    height: 1.2em;
    vertical-align: bottom;
    margin-right: 0.2em;
    transition: all 0.2s ease-in-out;

}

.tabs ul li label:hover,
.tabs ul li label:focus,
.tabs ul li label:active {
    outline: 0;
    color: #bec5cf;
}

.tabs ul li label:hover svg,
.tabs ul li label:focus svg,
.tabs ul li label:active svg {
    fill: #bec5cf;
}

.tabs .slider {
    position: relative;
    width: 25%;
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}

.tabs .slider .indicator {
    position: relative;
    width: 50px;
    max-width: 100%;
    margin: 0 auto;
    height: 4px;
    background: #7f5af0;
    border-radius: 1px;
}

.tabs .content {
    margin-top: 30px;
}

.tabs .content section {
    display: none;
    animation-name: content;
    animation-direction: normal;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    line-height: 1.4;
}

.tabs .content section h2 {
    color: #7f5af0;
    display: none;
}

.tabs .content section h2::after {
    content: "";
    position: relative;
    display: block;
    width: 30px;
    height: 3px;
    background: #7f5af0;
    margin-top: 5px;
    left: 1px;
}

.tabs input[name="tab-control"]:nth-of-type(1):checked~ul>li:nth-child(1)>label {
    cursor: default;
    color: #7f5af0;
}

.tabs input[name="tab-control"]:nth-of-type(1):checked~ul>li:nth-child(1)>label svg {
    fill: #7f5af0;
}

@media (max-width: 600px) {
    .tabs input[name="tab-control"]:nth-of-type(1):checked~ul>li:nth-child(1)>label {
        background: rgba(0, 0, 0, 0.08);
    }
}

.tabs input[name="tab-control"]:nth-of-type(1):checked~.slider {
    transform: translateX(0%);
}

.tabs input[name="tab-control"]:nth-of-type(1):checked~.content>section:nth-child(1) {
    display: block;
}

.tabs input[name="tab-control"]:nth-of-type(2):checked~ul>li:nth-child(2)>label {
    cursor: default;
    color: #7f5af0;
}

.tabs input[name="tab-control"]:nth-of-type(2):checked~ul>li:nth-child(2)>label svg {
    fill: #7f5af0;
}

@media (max-width: 600px) {
    .tabs input[name="tab-control"]:nth-of-type(2):checked~ul>li:nth-child(2)>label {
        background: rgba(0, 0, 0, 0.08);
    }
}

.tabs input[name="tab-control"]:nth-of-type(2):checked~.slider {
    transform: translateX(100%);
}

.tabs input[name="tab-control"]:nth-of-type(2):checked~.content>section:nth-child(2) {
    display: block;
}

.tabs input[name="tab-control"]:nth-of-type(3):checked~ul>li:nth-child(3)>label {
    cursor: default;
    color: #7f5af0;
}

.tabs input[name="tab-control"]:nth-of-type(3):checked~ul>li:nth-child(3)>label svg {
    fill: #7f5af0;
}

@media (max-width: 600px) {
    .tabs input[name="tab-control"]:nth-of-type(3):checked~ul>li:nth-child(3)>label {
        background: rgba(0, 0, 0, 0.08);
    }
}

.tabs input[name="tab-control"]:nth-of-type(3):checked~.slider {
    transform: translateX(200%);
}

.tabs input[name="tab-control"]:nth-of-type(3):checked~.content>section:nth-child(3) {
    display: block;
}

.tabs input[name="tab-control"]:nth-of-type(4):checked~ul>li:nth-child(4)>label {
    cursor: default;
    color: #7f5af0;
}

.tabs input[name="tab-control"]:nth-of-type(4):checked~ul>li:nth-child(4)>label svg {
    fill: #7f5af0;
}

@media (max-width: 600px) {
    .tabs input[name="tab-control"]:nth-of-type(4):checked~ul>li:nth-child(4)>label {
        background: rgba(0, 0, 0, 0.08);
        background-color: rgba(0, 0, 0, 0.08);
    }
}

.tabs input[name="tab-control"]:nth-of-type(4):checked~.slider {
    transform: translateX(300%);
}

.tabs input[name="tab-control"]:nth-of-type(4):checked~.content>section:nth-child(4) {
    display: block;
}

@keyframes content {
    from {
        opacity: 0;
        transform: translateY(5%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@media (max-width: 1000px) {
    .tabs ul li label {
        white-space: initial;
        width: 50px;
    }

    .tabs ul li label br {
        display: initial;
    }

    .tabs ul li label svg {
        height: 1.5em;
    }

}

@media (max-width: 600px) {
    .tabs ul li label {
        padding: 5px;
        border-radius: 5px;
    }

    .tabs ul li label span {
        display: none;
    }

    .tabs .slider {
        display: none;
    }

    .tabs .content {
        margin-top: 20px;
    }

    .tabs .content section h2 {
        display: block;
    }

    #mobExp {
        font-size: xx-small;
    }
}

.exp_details {
    color: #72757e;
    font-size: small;
    text-align: justify;
    width: 95%;
}

.exp_container {
    display: flex;
    flex-direction: column;
}

.exp_img {
    width: 100%;
    text-align: center;
    padding-top: 5px;

}

.exp_img img {
    width: 40%;
}

.content section h4 {
    color: rgba(255, 255, 255, 0.795);
    font-weight: bold;
}

.content section p {
    color: #72757e;
}

.content section span {
    color: #72757e;
    font-size: x-small;
}

@media (max-width:600px) {
    .expAr {
        height: fit-content !important;
    }
}

/* Popup END */

/* Certs START */
#popupCert .popup {
    height: 75%;
}

.gridCertBoxes {
    margin-top: 15%;
    margin-left: 6%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.gridCertBoxes .box {
    background-color: rgb(32, 32, 38);
    text-align: center;
    padding: 10px;
    border-radius: 8px;
}

.gridCertBoxes .box img {
    margin: auto;
    display: block;
}

.gridCertBoxes .box:hover {
    transform: scale(1.05);
}

.whisper {
    font-size: xx-small;
}

@media (max-width:600px) {
    .certMob {
        margin-top: 50%;
        height: fit-content !important;
        font-size: xx-small;
    }

    .certsMob {
        margin-top: 24%;
        margin-left: -2.5%;
    }

    .gridCertBoxes .box img {
        width: 50%;
    }

    .minCert {
        width: 64% !important;
    }
}

.btnAr {
    left: 30px;

}

/* Certs END */
